.title {
    font-size: 1000%; 
    color: green;
}
#first {
    color:blueviolet
}
.thisisaclass {
    color: bisque
}
html {
    background-color: aqua;
}
.divtest {
    background-color: chartreuse;
}