@media only screen and (min-width: 500px) {
    body {
        background-color: #fff;
        color: #333;
        margin: 0;
        font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .logo {
        font-size: 200%;
        padding: 50px 20px;
        margin: 0 auto;
        max-width: 980px;
    }

    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }

    nav {
        position: sticky;
        top: 0;
        background-color: #000;
        padding: .5em;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: .5em 1em;
    }

    .photos {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px 100px;
        column-gap: 1px;
        row-gap: 1px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .feature {
        width: 200px;
        float: left;
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }

    article {
        word-break: break-all;
    }


}

@media only screen and (max-width: 499px) {
    body {
        background-color: #fff;
        color: #333;
        margin: 0;
        font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .logo {
        font-size: 200%;
        padding: 50px 20px;
        margin: 0 auto;
        max-width: 980px;
    }

    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
    }

    nav {
        position: sticky;
        top: 0;
        background-color: #000;
        padding: .5em;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: .5em 1em;
    }

    .photos {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px 100px;
        column-gap: 1px;
        row-gap: 1px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .feature {
        width: 200px;
        float: left;
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }

    article {
        word-break: break-all;
    }
}